.card{
    margin: 20px;
    background-color: rgba(243, 240, 240, 0.966);
    border: 1px solid rgb(175, 174, 174) !important;
    border-radius: 20px !important;

}


header>h1,nav>a{
    font-family: 'Fontdiner Swanky', cursive;

}

.carousel-inner img{

    border-radius: 20px !important;
    margin-top: 20px;
 
}
